

/* 
    --red: #E74C3C;
    --brown: #5E574D;
    --tan: #E2C290;
    --green:#519E8A;
    --besie:#FFF8D1;
 */
body {
    margin:0;
}
 
#wrapper1{
    background-color: #E2C290;
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-rows: 100px 700px 800px 500px 100px;
    grid-template-areas:
        'g  g  g'
        'ma ma ma'
        'img se se'
        'ar ar as'
        'ft ft ft'
 }

 .headline{
    width: 100% ;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: fr;
    grid-template-rows: 70px 30px;
    grid-template-areas:
        'hd'
        'nav'
 }
 header {
    grid-area: hd;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#E74C3C;
}
nav {
    grid-area: nav;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E2C290;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main1{
    grid-area: ma;
    background-image: url(../img/bild1forstart.png);
    background-size: cover;

}
#section1{
    grid-area: se;
    background-color: #E74C3C;
    display: flex;
    flex-direction: column;

}

#bild {
    grid-area: img;
}

#article1{
    grid-area: ar;
    background-color: beige;
}

#aside1{
    grid-area: as;
    background-color: blue;
}

#footer1{
    grid-area: ft;
    background-color: aquamarine;
}

.hide{
    grid-area: g;
    background-color: aliceblue;
}

a{
    text-decoration: none;

}